table .table
    thead
        tr
            th ID
            th Nombre
            th Descripcion
            th Precio
    tbody   
        tr
            td _id
            td nombre_ejemplo
            td descr_ejemplo
            td precio_caro